.container
  .row
    .top
      .col-xs-5{style: "display: flex; flex-direction: row"}
        %h1.title
          %a{href: root_path, class: "imageHeader"}
            = image_tag "ynov.png"

        - Category.all.each do |t|
          = link_to t.name, image_by_category_path(t.id), class: "CategoryButton"

      .pull-right{style: "display: flex"}
        - if user_signed_in?
          = link_to "Uploader une image", new_upload_path
          -# = link_to "Se déconnecter", destroy_user_session_path, :method => :delete, class: "logout"
          -# = link_to "Mon compte", edit_user_registration_path, class: "my-account"

        - else
          = link_to "Connexion", new_user_session_path, class: "my-account"
          = link_to "Inscription", new_user_registration_path, class: "my-account"
        -# - if user_signed_in?
        -#   = button_to t("create_listing"), new_listing_path, class: "btn btn-success", method: :get
        -# - else
        -#   = button_to t("create_listing"), new_user_session_path, class: "btn btn-success", method: :get

        -#   -if current_user.is_admin?
        -#     =link_to "Admin", rails_admin_path, class: "my-account"